/* Main rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: bold;
    text-align: center;
}

/* Heading styles */
h1 {
    margin: 10px 0;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Button Style */

button {
    border: none;
    padding: 10px;
    color: #fff;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
#increment-btn {
    background-color: darkblue;
}